**/*~
**/*.i
**/*.l[ao]
**/*.lai
**/*.map
**/*.o
**/*.plog

**/*.diff
**/*.orig
**/*.patch
**/*.rej

**/.libs
**/Makefile

autom4te.cache
build
config.h
config.log
config.status
libtool
pathnames.h
ChangeLog
PVS-Studio.cfg
stamp-*
uncrustify.files

docs/*.man
docs/*.mdoc
docs/fixman.sed

examples/sudo.conf
examples/sudo_logsrvd.conf
examples/sudoers
examples/syslog.conf

etc/init.d/sudo.conf

init.d/*.sh
init.d/sudo.conf

src/sudo
src/sesh
src/check_net_ifs
src/check_noexec
src/check_ttyname
src/intercept.exp
src/sudo_usage.h

lib/eventlog/check_parse_json
lib/eventlog/check_wrap
lib/eventlog/regress/logwrap/check_wrap.out
lib/eventlog/store_json_test
lib/eventlog/store_sudo_test

lib/iolog/check_iolog_[a-z]*
lib/iolog/fuzz_iolog_[a-z]*
lib/iolog/host_port_test

lib/util/getgids
lib/util/mksiglist
lib/util/mksiglist.h
lib/util/mksigname
lib/util/mksigname.h
lib/util/siglist.c
lib/util/signame.c
lib/util/util.exp
lib/util/[a-z]*_test
lib/util/fuzz_[a-z]*
lib/util/regress/**/*.out
lib/util/regress/**/*.err
lib/util/regress/harness

logsrvd/sudo_logsrvd
logsrvd/sudo_sendlog
logsrvd/fuzz_[a-z]*
logsrvd/dotdot_test
logsrvd/logsrvd_conf_test

plugins/sudoers/cvtsudoers
plugins/sudoers/sudoers
plugins/sudoers/sudoreplay
plugins/sudoers/testsudoers
plugins/sudoers/tsdump
plugins/sudoers/tsgetusershell.c
plugins/sudoers/visudo
plugins/sudoers/prologue
plugins/sudoers/check_[a-z]*
plugins/sudoers/fuzz_[a-z]*
plugins/sudoers/regress/**/*.out
plugins/sudoers/regress/**/*.toke
plugins/sudoers/regress/**/*.err
plugins/sudoers/regress/**/*.json
plugins/sudoers/regress/**/*.ldif
plugins/sudoers/regress/**/*.sudo
plugins/sudoers/regress/**/*.ldif2sudo
plugins/sudoers/regress/harness
plugins/sudoers/regress/iolog_plugin/iolog
plugins/sudoers/regress/testsudoers/test3.d/root

plugins/python/__pycache__
plugins/python/regress/__pycache__
plugins/python/check_python_examples

scripts/check_man
