**/*~
**/*.i
**/*.l[ao]
**/*.lai
**/*.map
**/*.mo
**/*.o
**/*.plog

**/*.diff
**/*.orig
**/*.patch
**/*.rej

**/.libs
**/Makefile

autom4te.cache
build
config.h
config.log
config.status
libtool
pathnames.h
ChangeLog
PVS-Studio.cfg
uncrustify.files

doc/*.man
doc/*.mdoc
doc/fixman.sed

examples/sudo.conf

init.d/*.sh
init.d/sudo.conf

src/sudo
src/sesh
src/check_noexec
src/check_ttyname
src/sudo_usage.h

lib/eventlog/check_wrap
lib/eventlog/regress/logwrap/check_wrap.out

lib/iolog/check_iolog_json
lib/iolog/check_iolog_mkpath
lib/iolog/check_iolog_path
lib/iolog/check_iolog_util

lib/util/mksiglist
lib/util/mksigname
lib/util/siglist.c
lib/util/signame.c
lib/util/util.exp
lib/util/[a-z0-9_]*_test
lib/util/regress/**/*.out
lib/util/regress/**/*.err

logsrvd/sudo_logsrvd
logsrvd/sudo_sendlog

plugins/sudoers/cvtsudoers
plugins/sudoers/sudoers
plugins/sudoers/sudoreplay
plugins/sudoers/testsudoers
plugins/sudoers/tsdump
plugins/sudoers/visudo
plugins/sudoers/prologue
plugins/sudoers/check_[a-z0-9_]*
plugins/sudoers/regress/**/*.out
plugins/sudoers/regress/**/*.toke
plugins/sudoers/regress/**/*.err
plugins/sudoers/regress/**/*.json
plugins/sudoers/regress/**/*.ldif
plugins/sudoers/regress/**/*.sudo
plugins/sudoers/regress/**/*.ldif2sudo
plugins/sudoers/regress/iolog_plugin/iolog
plugins/sudoers/regress/testsudoers/test3.d/root

plugins/python/__pycache__
plugins/python/regress/__pycache__
plugins/python/check_python_examples
